html{
	background-color: lightgrey;
}
/* Style the header with a grey background and some padding */
.header {
	height: 100px;
	overflow: hidden;
	background-color: #333;
	padding: 20px 10px;
	margin: 0;
	color: white;
}
/* Style the header links */
.header .header-right a {
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  border-radius: 4px;

}
.header .header-right button[value="Refresh Page"]{
  	height: 50px;
	width:100px;
	color: white;
	border-color: dodgerblue;
	background-color: dodgerblue ;
	font-size: 18px;
	border-radius: 4px;

}
/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;

}

p[id="dateTime"]{
	position: absolute;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.outbox{
	font: 30px arial, sans-serif;
	border: 2px solid black;
	width: 100%;
	height:980px;
	color: black;
	background-color: white;
}
.show{
	border: 2px solid black;
	width: 70%;
	height:94%;
	margin:10px 10px;
	padding: 15px;
	float: left;
	border-radius: 10px;
}
.show h1{
	font-size: 45px;
	margin: 0;
	z-index: 5;

}
.show div{
	height: 100px;
	width: 49%;
	margin: 10px 5px;
	float: left;
}

#selector{
	border: 2px solid black;
	width: 24%;
	height: 80%;
	margin: 10px 10px;
	padding:15px;
	float: right;
	overflow: auto;
}
.shrtcntt{
	height: 30%;
	width: 90%;
	margin: 10px 10px;
	border: 2px solid black;
	color: black;
	border-radius: 10px;
	padding:15px;
	font-size: 	35px;
	line-height: 50px;
	float: right;
	cursor: pointer;
}
.shrtcntt h1{
	margin:0;
	font-size: 	1em;
}

img[src="dshop-logo-small.png"]{
	height: 100px;
	width: 200px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}
